{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <table class="table">
        <tr>
            <th class="text-center"><strong>Дата</strong></th>
            <th class="text-center"><strong>Группа</strong></th>
            <th class="text-center"><strong>Наименование</strong></th>
            <th class="text-center"><strong>Длина, мм</strong></th>
            <th class="text-center"><strong>Количество, шт.</strong></th>
            <th class="text-center"><strong>Количество, м.</strong></th>
            <th class="text-center"><strong>Вес, кг/м</strong></th>
            <th class="text-center"><strong>Вес, всего</strong></th>
            <th class="text-center"><strong>Тип смолы</strong></th>
            <th class="text-center"><strong>Срок поставки</strong></th>
            <th class="text-center"><strong>Цвет</strong></th>
            <th class="text-center"><strong>Контрагент</strong></th>
        </tr>
    </table>
{% endblock %}